In [ ]:
import pandas as pd
import random
lst = ['robot'] * 10
lst += ['human'] * 10
lst += ['kiborg'] * 10
lst += ['reptiloid'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data

In [ ]:
sl ={}
for i in set(lst):
  sl[i] = list()
print(sl)

{'human': [], 'kiborg': [], 'reptiloid': [], 'robot': []}

In [ ]:
for i in set(lst):
  for j in lst:
    if i == j:
      sl[i].append(1)
    else:
      sl[i].append(0)
print(sl)

{'human': [1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0], 'kiborg': [0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1], 'reptiloid': [0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0], 'robot': [0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0]}

In [ ]:
data = pd.DataFrame(sl)
data

    human  kiborg  reptiloid  robot
0       1       0          0      0
1       0       0          1      0
2       0       0          1      0
3       0       0          0      1
4       0       1          0      0
5       0       0          1      0
6       0       1          0      0
7       0       1          0      0
8       1       0          0      0
9       0       0          1      0
10      0       1          0      0
11      0       0          1      0
12      0       0          0      1
13      1       0          0      0
14      0       1          0      0
15      0       0          0      1
16      0       0          1      0
17      1       0          0      0
18      0       0          0      1
19      0       0          0      1
20      0       0          1      0
21      0       1          0      0
22      0       0          0      1
23      1       0          0      0
24      0       0          1      0
25      1       0          0      0
26      0       0          1      0
27      0       0          0      1
28      1       0          0      0
29      1       0          0      0
30      0       0          0      1
31      0       1          0      0
32      0       0          0      1
33      1       0          0      0
34      0       0          1      0
35      0       1          0      0
36      1       0          0      0
37      0       1          0      0
38      0       0          0      1
39      0       1          0      0